@layout('layouts.app')

@section('content')
<!-- Page Header -->
    <h1>Index</h1>


<!-- Main Content -->
   <form>
        URL: <input id="url" type="text" name="url"><br>
        <button id="input" type="button">Submit</button>
    </form>
    <div id="output"></div>

<hr>
@endsection

@section('scripts')
<script src="/js/homePage.js"></script>
@endsection